@import url(./fontello-39a7439d/css/fontello.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
body {
  font-family: 'Open Sans', 'sans-serif';
  background: white;
  margin: 0px; }

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #181717;
  align-items: center; }
  header h1 {
    text-align: center;
    font-size: 60px;
    margin: 5px 0px;
    color: #e9e9e9; }
  header .guide {
    background: black; }
    header .guide h3 {
      text-align: center;
      font-size: 40px;
      margin: 0px;
      color: #e9e9e9; }
    header .guide .shortcuts {
      width: 360px;
      margin: 0px auto;
      display: grid;
      grid-column-gap: 8px;
      grid-row-gap: 3px;
      grid-template-columns: 2fr 3fr 1fr 1fr 2fr 3fr 1fr 1fr;
      grid-auto-flow: row;
      justify-items: center;
      padding-bottom: 15px;
      color: #e9e9e9; }
      header .guide .shortcuts .shortcut-box {
        width: 100%; }
      header .guide .shortcuts .shuffle {
        grid-column: span 3; }

main .colorFrames {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%; }
  main .colorFrames .colorFrame {
    height: 300px;
    background: black;
    position: relative;
    display: flex;
    transition: .5s;
    box-sizing: border-box;
    border-bottom: 9px solid white; }
    main .colorFrames .colorFrame.highlight {
      border-bottom: 9px solid #353535; }
    main .colorFrames .colorFrame .infoContainer {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: 1fr 3fr 3fr;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.605); }
      main .colorFrames .colorFrame .infoContainer .currentColor {
        width: 100%;
        font-size: 25px;
        padding: 5px 0px;
        grid-column: span 2;
        text-align: center;
        border-bottom: 1px solid #d7d7d7;
        color: #d7d7d7; }
        main .colorFrames .colorFrame .infoContainer .currentColor .icon-clipboard {
          cursor: pointer; }
      main .colorFrames .colorFrame .infoContainer .panelNumber {
        font-size: 38px;
        color: white;
        font-weight: 300;
        height: 100%;
        grid-row: span 2;
        border-right: 1px solid #d7d7d7;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 3px 3px 3px #121212; }
      main .colorFrames .colorFrame .infoContainer button {
        cursor: pointer;
        font-size: 40px;
        text-align: center;
        background: none;
        border: none;
        padding: 8px;
        height: 57px;
        width: 100%;
        color: white;
        position: relative;
        grid-column: span 2; }
        main .colorFrames .colorFrame .infoContainer button .icon-lock-1,
        main .colorFrames .colorFrame .infoContainer button .icon-lock-open-1 {
          position: absolute;
          top: 10px; }
        main .colorFrames .colorFrame .infoContainer button .icon-lock-1 {
          left: calc(50% - 28px); }
        main .colorFrames .colorFrame .infoContainer button .icon-lock-open-1 {
          left: calc(50% - 22px); }

main canvas {
  display: none;
  margin: 0px auto 20px;
  background-image: url("./fontello-39a7439d/font/fontello.svg"); }
  main canvas.showVisualizer {
    display: block; }

main .featureButtons {
  display: flex; }

main .generate,
main .visualizerStartStop {
  display: block;
  font-size: 30px;
  background: white;
  padding: 8px 30px;
  color: white;
  background: black;
  border: 1px solid black;
  width: 50%;
  font-weight: 300;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer; }
  main .generate:hover,
  main .visualizerStartStop:hover {
    color: black;
    background: white; }

main .saveSection {
  display: grid;
  grid-template-columns: 1fr 1fr; }

main .savePalette {
  padding: 10px;
  display: grid;
  position: relative;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr;
  margin: 0px auto;
  height: 150px;
  width: 100%;
  box-sizing: border-box; }
  main .savePalette .createProjectError {
    position: absolute;
    color: red;
    z-index: 10;
    bottom: -60px;
    left: 10px;
    width: 200px;
    font-weight: 700; }
  main .savePalette .projectOptions {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box; }
    main .savePalette .projectOptions h3 {
      margin: 0px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
    main .savePalette .projectOptions .projectButtonContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      box-sizing: border-box;
      grid-gap: 5px; }
      main .savePalette .projectOptions .projectButtonContainer .projectButton {
        display: grid;
        grid-template-columns: 1fr auto; }
        main .savePalette .projectOptions .projectButtonContainer .projectButton button {
          height: 30px;
          background: white;
          border: 1px solid black;
          position: relative;
          cursor: pointer; }
          main .savePalette .projectOptions .projectButtonContainer .projectButton button.selected {
            background: gray;
            color: white; }
          main .savePalette .projectOptions .projectButtonContainer .projectButton button:hover {
            background: #303030;
            color: white; }
        main .savePalette .projectOptions .projectButtonContainer .projectButton i {
          cursor: pointer;
          font-size: 25px;
          display: grid; }

main .saveProject {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 2fr 1fr;
  margin: 0px auto;
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  box-sizing: border-box; }
  main .saveProject h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
    height: 50px;
    margin: 0px; }
  main .saveProject input {
    grid-column: span 2;
    width: 100%;
    height: 100%; }
  main .saveProject .submitPaletteSave {
    position: relative; }
  main .saveProject .createProjectError {
    position: absolute;
    color: red;
    z-index: 10;
    bottom: -40px;
    left: -100px;
    width: 200px;
    font-weight: 700; }

main .paletteList {
  padding-left: 30px;
  padding-bottom: 80px; }
  main .paletteList .paletteContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    main .paletteList .paletteContainer .palette {
      display: grid;
      grid-template-columns: repeat(6, 50px);
      justify-items: center;
      align-items: center; }
      main .paletteList .paletteContainer .palette h4 {
        grid-column: span 6; }
      main .paletteList .paletteContainer .palette .paletteC {
        cursor: pointer;
        width: 100%;
        height: 50px; }
      main .paletteList .paletteContainer .palette i {
        font-size: 30px;
        cursor: pointer; }

@media screen and (max-width: 680px) {
  header {
    grid-template-columns: 1fr; }
    header h1 {
      font-size: 40px; }
    header .guide h3 {
      font-size: 20px; }
    header .guide .shortcuts {
      width: 320px; }
  main canvas {
    width: 300px; }
  main .colorFrames {
    grid-template-columns: 1fr;
    grid-gap: 0px; }
    main .colorFrames .colorFrame {
      height: 160px;
      border-bottom: none; }
  main .saveSection {
    grid-template-columns: 1fr; }
  main .paletteList .paletteContainer {
    display: grid;
    grid-template-columns: 1fr; }
  main .savePalette {
    margin-bottom: 80px; }
    main .savePalette .projectOptions .projectButtonContainer {
      grid-template-columns: 1fr 1fr; } }
