@import './fontello-39a7439d/css/fontello.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

header {
  h1 {
    text-align: center;
    font-size: 60px;
    margin: 5px 0px;
  }
}

main {
  .colorFrames {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding-bottom: 30px;
    max-width: 1600px;
    margin: 0px auto;
    .colorFrame {
      height: 20vw;
      min-height: 280px;
      background: black;
      position: relative;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .5s;
      box-sizing: border-box;
      border: 9px solid rgba(255, 255, 255, 0);
      &.highlight {
        border: 9px solid black;
      }

      .panelNumber {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 140px;
        color: rgba(0, 0, 0, 0.879);
        font-weight: 300;
        text-shadow: 3px 3px 3px rgb(18, 18, 18);
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 50px;
      }
      .currentColor {
        position: absolute;
        bottom: 60px;
        width: 100%;
        font-size: 30px;
        text-align: center;
        color: white;
        .icon-clipboard {
          cursor: pointer;
        }
      }
      .buttonContainer {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        box-sizing: border-box;
        flex-wrap: nowrap;
        button {
          cursor: pointer;
          width: 50%;
          font-size: 40px;
          text-align: center;
          background: none;
          border: none;
          padding: 8px;
          border-top: 1px solid black;
          &:hover {
            background-color: rgba(0, 0, 0, 0.303);
            color: white;
          }
          &:nth-of-type(1) {
            border-right: 1px solid black;
            // border-radius: 0px 0px 0px 8px;
          }
          &:nth-of-type(2) {
            // border-radius: 0px 0px 8px 0px;
          }
        }

      }
    }
  }
  .generate {
    display: flex;
    margin: 0px auto;
    font-size: 30px;
    background: white;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 3px darkgray;
    cursor: pointer;
  }

  .savePalette {
    padding-top: 50px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 2fr 1fr;
    width: 500px;
    margin: 0px auto;
    div {
      width: 100%;
    }
  }

  .saveProject {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 2fr 1fr;
    margin: 0px auto;
    width: 500px;
    h3 {
      grid-column: span 3;
    }
    input {
      grid-column: span 2;
    }
  }
}


